option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: flavorful_main.wsgi:application

  aws:elasticbeanstalk:container:environment:proxy:staticfiles:
    /admin: static
    /css: static
    /extra-Images: static
    /fonts: static
    /gis: static
    /images: static
    /js: static
    /logo: static